{% extends 'base.html' %}
{% block content %}
<div class='container-fluid' id='feature' style="background-image: url(static/robot-learning.png)">

    <div id='logo'>
      <img src="/static/logo-white.png" height="61px" width="190px"></img>
    </div>

<div class='row' id='feature-overlay'>
    <div class='col-lg' align='center'>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <span class='align-text-bottom'><h2 id="habot-txt" align='center'></h2></span>
    </div>
</div>

</div>

<br>

<div class='container-fluid' align="center">
<div class='form-inline justify-content-center' align="center">
{% for habit in habits %}
<form action='/time' method='GET'>
<div id='habit-tile'>
    <input type="hidden" name="habit_id" value="{{ habit.create_habit_id }}">
    <input class="habit btn btn-outline-dark btn-large" type='submit' value="{{ habit.title }}: {{ habit.description }}">
</div>
</form>
{% endfor %}
</div>
</div>

<script>

$('#habot-txt').typeIt({
    strings: ["Which habit would you like to work on?"],
    speed: 50,
    autoStart: false
});

</script>
{% endblock %}