{% extends 'base.html' %}
{% block content %}
<br>
<br>

<div class='container-fluid' align="center" style="height:100px;">
<h2 id="habot-txt"></h2>
</div>

<div class='container-fluid' align="center">

<div class='form-inline' align="center">
{% for habit in habits %}
<form action='/time' method='GET'>
<div id='habit-tile'>
    <input type="hidden" name="habit_id" value="{{ habit.create_habit_id }}">
    <input class="habit" type='submit' value="{{ habit.title }}: {{ habit.description }}">
</div>
</form>
{% endfor %}
</div>
</div>

<script>

$('#habot-txt').typeIt({
    strings: ["Which habit would you like to work on?"],
    speed: 50,
    autoStart: false
});

</script>
{% endblock %}