{% extends 'base.html' %}
{% block content %}

<h2>Let's do this, {{ habit.user.name }}!</h2>
<h2>I've already sent you a few texts. <br>
    I'll send your first reminder at the time you selected for you to track your success</h2>
<h4>In the meantime, check out this cool <a href="/dashboard">dashboard</a> that helps you track your streaks<br><br>Text me anytime, even just to let me know how you're doing - I can't wait to hear from you!</h4>

<br><br><br><br><br>

<p>debugging data</p>
<p>your mobile: {{ habit.user.mobile }} </p>
<p>habit_id: {{ habit.habit.create_habit_id }} </p>
<p>your habit: {{ habit.habit.title }} </p>
<p> timezone: {{ habit.user.tz }} </p>

<p> for our purposes, your time is saved in UTC </p>
<p> utc hour: {{ habit.utc_time }} 



{% endblock %}