{% extends 'base.html' %}
{% block content %}
<br>
<br>


<div class='container-fluid' align="center" style="height:200px;">
<h2 id="habot-txt"></h2>
</div>
<br>
<br>
<br>
<div class='container-fluid' align="center">
<a href="/dashboard">your dashboard</a>
    </div>

</div>




<script>

$('#habot-txt').typeIt({
    strings: ["You're going to be great!", "I'll be texting you soon.", "In the meantime, check out your dashboard to help track your 3-day streaks."],
    speed: 50,
    autoStart: false
});

</script>

{% endblock %}

Let's do this, 