{% extends 'base.html' %}
{% block content %}

<h1>Hi, {{ user_habit.user.name }}
<h2>You're doing a great job!</h2>

<p>Your current habit: {{ user_habit.habit.title }} </p>
<p>current streak: {{ stats["current_streak"] }} </p>
<p>total days: {{ stats["total_days"] }} </p>
<p>longest streak: {{ stats["longest_streak"] }} </p>
<p>7 days streaks: {{ stats["week_streaks"] }}

{% if last_factor_scores %}
    <p> your last scores: </p>
    <ul>
    {% for score in last_factor_scores%}
    <li> {{ score.factor.title }}: {{ score.score }}
    {% endfor %}
    </ul>
{% endif %}

{% endblock %}