{% extends 'base.html' %}
{% block content %}
<br>
<br>

<div class='container-fluid' align="center" style="height:100px;">
<h2 id="habot-txt"></h2>
</div>

<b4>

<div class='container-fluid' align="center">
<h3>Your habit:</h3>
<h3>{{ user_habit.habit.title }}</h3>
</div>
<b4>

<div class='container-fluid' align='center'>
<div id="chart"></div>
</div>

<br>
<br>

<div class='container-fluid' align='center'>
<p>Total 3-day streaks: {{ stats["three_day_streaks"] }} </p>
<p>Current 3-day streak: {{ stats["current_three_day_streak"] }}</p>
<p>Total days: {{ stats["total_days"] }}</p>
</div>

<!-- <p>Current streak: {{ stats["current_streak"] }} </p>
<p>Longest streak: {{ stats["longest_streak"] }} </p>
<p>Potential streak: {{ stats["potential_streak"] }} </p>

{% if last_factor_scores %}
    <p> your last scores: </p>
    <ul>
    {% for score in last_factor_scores %}
    <li> {{ score.factor.title }}: {{ score.score }}
    {% endfor %}
    </ul>
{% endif %} -->

<!-- D3 sample (meta and link go in head)-->

<meta charset="utf-8" />

  <link data-require="normalize@*" data-semver="3.0.1" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.6/d3.min.js" data-semver="3.4.6" data-require="d3@*"></script>
  <script>

  'use strict';

    d3.json("/get-stats.json", function(json) {

        var data = json
        console.log(data);
        console.log(data['num_streaks']);

        (function(d3) {

        var dataset1 = [
          { label: '1-day', count: 1 },
          { label: '2-day', count: 1 },
          { label: '3-day', count: 1 },
        ];
        
        var dataset2 = data['num_streaks']

        var width = 200;
        var height = 200;
        var donutWidth = 10;
        var radius1 = Math.min(width, height) / 2;
        var radius2 = radius1 - donutWidth - 10;
        
        var color1 = d3.scale.ordinal()
          .domain(['1-day', '2-day', '3-day'])
          .range(data['num_day_colors']);
        
        var color2 = d3.scale.ordinal()
          .domain(data['num_streaks_colors_domain'])
          .range(data['num_streaks_colors_range']);

        var color3 = d3.scale.ordinal()
          .domain(['1-day', '2-day', '3-day'])
          .range(data['num_day_strokes']);

        var svg = d3.select('#chart')
          .append('svg')
          .attr('width', width)
          .attr('height', height);
        var svg1 = svg.append('g')
          .attr('transform', 'translate(' + (width / 2) + 
            ',' + (height / 2) + ')');
        var svg2 = svg.append('g')
          .attr('transform', 'translate(' + (width / 2) + 
            ',' + (height / 2) + ')');

        var arc1 = d3.svg.arc()
          .innerRadius(radius1 - donutWidth)  
          .outerRadius(radius1);
        var arc2 = d3.svg.arc()
          .innerRadius(radius2 - donutWidth)  
          .outerRadius(radius2);
          
        var pie = d3.layout.pie()
          .value(function(d) { return d.count; })
          .sort(null);

        var path1 = svg1.selectAll('path')
          .data(pie(dataset1))
          .enter()
          .append('path')
          .attr('d', arc1)
          .attr('stroke', function(d, i) {
            return color3(i);
          })
          .attr('stroke-dasharray', "5,5")
          .attr('fill', function(d, i) { 
            return color1(i);
          });

        var path2 = svg2.selectAll('path')
          .data(pie(dataset2))
          .enter()
          .append('path')
          .attr('d', arc2)
          .attr('stroke', data['num_streaks_stroke'][0])
          .attr('stroke-dasharray', "5, 5")
          .attr('fill', function(d, i) { 
            return color2(i);
          });

      })(window.d3);

    })


$('#habot-txt').typeIt({
    strings: ["Hi, {{ user_habit.user.name }}!", "You're doing a great job!"],
    speed: 50,
    autoStart: false
});

    </script>

{% endblock %}