{% extends 'base.html' %}
{% block content %}

<h2> tell us how you're doing right now </h2>

<form action='/signup' method='GET'>
    {% for factor in factors %}
    <h3>{{ factor.title }}</h4>
    <p>{{ factor.description }}</p>
    <select name="{{ factor.factor_id }}">
        <option value="0">Very awesome</option>
        <option value="1">Pretty ok</option>
        <option value="2">Not great</option>
    </select>
    <br>
    {% endfor %}
    <input type="submit", value="that sounds about right at the moment">
</form>


{% endblock %}
