{% extends 'base.html' %}
{% block content %}

<h2> tell us how you're doing right now </h2>

<form action='/signup' method='GET'>
    {% for factor in factors %}
    <h3>{{ factor.title }}</h4>
    <p>{{ factor.description }}</p>
        <fieldset id="{{ factor.factor_id }}">
            <label class="radio-inline"><input type='radio' value="2" name="{{ factor.factor_id }}"/></label>
            <label class="radio-inline"><input type='radio' value="1" name="{{ factor.factor_id }}" checked/></label>
            <label class="radio-inline"><input type='radio' value="0" name="{{ factor.factor_id }}"/></label>
        </fieldset>
    <br>
    {% endfor %}
    <input type="submit", value="feels about right at the mo">
</form>


<script>

</script>


{% endblock %}
