{% extends 'base.html' %}
{% block content %}

<h1><i>Hi, I'm HaBot.</i></h1>
<h2> I'm a coach to help you create habits </h2>
<h3> Let's get started! What's your phone number? </h3>

<form action='/verify', method='GET'>
    <select name="country_code">
        {% for item in sorted_countries %}
        <option value="{{ item[1] }}" 
            {% if item[1] == default_country %} selected="selected" {% endif %}>
            {{ item[0] }}
        </option>
        {% endfor %}
    </select>
    <input type='text' name='mobile'>
    <input type='submit' value='Lets do this!'>
</form>

{% endblock %}