{% extends 'base.html' %}
{% block content %}

<h1>Hi, I'm HaBot.</h1>
<h2> I help you create new habits</h2>
<h2> What's your phone number? </h2>

<form action='/verify', method='GET'>
    <select name="country_code">
        {% for item in sorted_countries %}
        <option value="{{ item[1] }}" 
            {% if item[1] == default_country %} selected="selected" {% endif %}>
            {{ item[0] }}
        </option>
        {% endfor %}
    </select>
    <input type='text' name='mobile'>
    <input type='submit' value='Lets do this!'>
</form>

{% endblock %}