{% extends 'base.html' %}
{% block content %}

<br>
<br>

<div class='container-fluid' align="center" style="height:150px;">
<h2 id="habot-txt" align='center'></h2>
</div>

<br>


<div class='container-fluid' align="center">

<form action='/verify', method='GET'>
    
    <select name="country_code">
        {% for item in sorted_countries %}
        <option value="{{ item[1] }}" 
            {% if item[1] == default_country %} selected="selected" {% endif %}>
            {{ item[0] }}
        </option>
        {% endfor %}
    </select>
    <br>
    <br>

    <input type='text' name='mobile'>
    <br>
    <br>

    <input type='submit' class="btn btn-outline-dark" value='Lets do this!'>
</form>

</div>

<br>
<br>
<br>

<!-- <div class='container'>
<img src='/static/habot_icon.png' height='75'></img>
<h2><b><i>I'll help you ...</i></b></h2>
</div> -->

<br>
<br>

<div class='container-fluid'>
    <div class="row">

        <div class="col-sm" align="center">
        <b>Find Habits</b><br>
        I'll recommend micro-habits based on what's going on in your life.  Micro-habits are something specific you can do in 30 seconds or less.  
        </div>

        <div class="col-sm" align="center">
        <b>Track Progress</b><br>
        I'll reach out every day with a reminder.  I'll track your success when you tell me to. I'll also do my best to cheer you on along the way :) 
        </div>

        <div class="col-sm" align="center">
        <b>Create New Behaviors</b><br>
        Creating a habit takes about 21 days. Because consistency is key, I track every '3-day streak' you have and help you reach at least 7. Let's do this!  
        </div>

    </div>
</div>

<br>
<br>
<br>

<div class='container-fluid' align="center">
<a href="/habits">see all micro-habits</a>
</div>


<script>

$('#habot-txt').typeIt({
    strings: ["Hi, I'm HaBot.",  "I help you create new habits.",  "What's your phone number?"],
    speed: 50,
    autoStart: false
});

</script>

{% endblock %}