{% extends 'base.html' %}
{% block content %}
<div class='container-fluid' id='feature' style="background-image: url(static/Robot-right.png)">

    <div id='logo'>
      <img src="/static/logo-white.png" height="61px" width="190px"></img>
    </div>

<div class='row' id='feature-overlay'>
    <div class='col-lg' align='center'>
        <br>
        <br>
        <br>
        <br>
        <span class='align-text-bottom'><h2 id="habot-txt" align='center'></h2></span>
    </div>
</div>

</div>

<br>

<div class='container-fluid' align='center'>
<form action='/factors' method='GET'>
    <input type='text' class="form-control" name='name'>
    <br>
    <br>
    <input type='submit' class="btn btn-outline-dark" value='thats me!'>
</form>
</div>

<script>

$('#habot-txt').typeIt({
    strings: ["What's your name?"],
    speed: 50,
    autoStart: false
});
</script>

{% endblock %}