{% extends 'base.html' %}
{% block content %}
<br>
<br>

<div class='container-fluid' align="center" style="height:100px;">
<h2 id="habot-txt"></h2>
</div>

<div class='container-fluid' align='center'>
<form action='/factors' method='GET'>
    <input type='text' name='name'>
    <br>
    <br>
    <input type='submit' class="btn btn-outline-dark" value='thats me!'>
</form>
</div>

<script>

$('#habot-txt').typeIt({
    strings: ["What's your name?"],
    speed: 50,
    autoStart: false
});
</script>

{% endblock %}