{% extends 'base.html' %}
{% block content %}

<h1> Recommended habits for you: </h1>

<div id='habits-div'>
    <form id='rec-form' action='/time' method='GET'>
    </form>
</div>

<a id="get-recs" href="/get-recs.json">more recommendations</a>
<br>
<a href="/habits">browse all habits</a>

<script>

"use_strict";

function showRecs(results) {
    // json structure: { habit_id: 'id' { title: 'title', description: 'description'}}
    $('#rec-form').empty();
    var result = results
    for (var id in result) {
        var habit_id = id
        console.log(habit_id)
        var title = result[habit_id]["title"];
        var description = result[habit_id]["description"];
        var div = "<div id='habit-div'><input type='hidden' name='habit_id' value=" +  habit_id + ">" + "<input type='submit' value=" + "'" + title + ": " + description + "'" + "></div>";
        $('#rec-form').append(div);
    }
}

function firstRecs() {
    $.get('/get-recs.json', showRecs);
}

function updateRecs(evt) {
    evt.preventDefault();
    $.get('/get-recs.json', showRecs);
}

$('#get-recs').on('click', updateRecs);

firstRecs()

</script>

{% endblock %}

