{% extends 'base.html' %}
{% block content %}

<div class='container-fluid' id='feature' style="background-image: url(static/wood-grass.jpg)">

    <div id='logo'>
      <img src="/static/logo-white.png" height="61px" width="190px"></img>
    </div>

<div class='row' id='feature-overlay'>
    <div class='col-lg' align='center'>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <span class='align-text-bottom'><h2 id="habot-txt" align='center'></h2></span>
    </div>
</div>

</div>

<br>


<div class='container-fluid' align="center">
<br>
<div class='form-inline justify-content-center' align="center">
{% for timezone in timezones %}
<form action='/name' method='GET'>
    <input type="hidden" name="tz" value="{{ timezone }}">
    <input type='submit' id='timezones' class="btn btn-outline-dark" value="{{ timezone }}">
</form>
{% endfor %}
</div>
</div>

<script>

$('#habot-txt').typeIt({
    strings: ["Lovely part of the world!", "What timezone specifically?"],
    speed: 50,
    autoStart: false
});
</script>

{% endblock %}