{% extends 'base.html' %}
{% block content %}

<h1>What time do you want to do that?</h1>

<form action='/confirm', method='POST'>
    <select name='hour'>
        <option value='0'>12 am</option>
        <option value='1'>1 am</option>
        <option value='2'>2 am</option>
        <option value='3'>3 am</option>
        <option value='4'>4 am</option>
        <option value='5'>5 am</option>
        <option value='6'>6 am</option>
        <option value='7'>7 am</option>
        <option value='8'>8 am</option>
        <option value='9'>9 am</option>
        <option value='10'>10 am</option>
        <option value='11'>11 am</option>
        <option value='12'>12 pm</option>
        <option value='13'>1 pm</option>
        <option value='14'>2 pm</option>
        <option value='15'>3 pm</option>
        <option value='16'>4 pm</option>
        <option value='17'>5 pm</option>
        <option value='18'>6 pm</option>
        <option value='19'>7 pm</option>
        <option value='20'>8 pm</option>
        <option value='21'>9 pm</option>
        <option value='23'>10 pm</option>
        <option value='24'>11 pm</option>
    </select>
    <select name='tz'>
        <option value='US/Alaska'>Alaska</option>
        <option value='US/Eastern'>Eastern</option>
        <option value='US/Hawaii'>Hawaii</option>
        <option value='US/Central'>Central</option>
        <option value='US/Mountain'>Mountain</option>
        <option value='US/Pacific'>Pacific</option>
    </select>
    <input type='submit'>
</form>

{% endblock %}

<!-- US/Alaska
US/Aleutian
US/Arizona
US/Central
US/East-Indiana
US/Eastern
US/Hawaii
US/Indiana-Starke
US/Michigan
US/Mountain
US/Pacific
US/Pacific-New
US/Samoa -->