{% extends 'base.html' %}
{% block content %}

<div class='container-fluid' id='feature' style="background-image: url(static/robot-vintage3.jpg)">

    <div id='logo'>
      <img src="/static/logo-white.png" height="61px" width="190px"></img>
    </div>

<div class='row' id='feature-overlay'>
    <div class='col-lg' align='center'>
        <br>
        <br>
        <br>
        <br>
        <span class='align-text-bottom'><h2 id="habot-txt" align='center'></h2></span>
    </div>
</div>

</div>

<!-- <div class='container-fluid' align="center" style="height:100px;">
<h2 id="habot-txt"></h2>
</div> -->

<div class='container-fluid' align="center">
<ul>
{% for message in get_flashed_messages() %}
<li> {{ message }} </li>
{% endfor %}
</ul>

<form action='/signin', method='GET'>
    <input type='text' name='code'>
    <br>
    <br>
    <input type='submit' class="btn btn-outline-dark" value='Verify me!'>
</form>
</div>

<script>

$('#habot-txt').typeIt({
    strings: ["I've sent you a code to verify your number.",  "Enter it here."],
    speed: 50,
    autoStart: false
});

</script>

{% endblock %}